body{
    font-family: Roboto,sans-serif;
    font-size: 24px;
    height:100vh;
    display: flex;
    width: 100vh;

}
.Banner{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    color: antiquewhite;
    overflow: auto;

}
a{
    text-decoration: none;
    color: antiquewhite;
    
}
.Banner a{
  Padding:16px;
  background-color: inherit;  
  align-items: center;

}
.Banner a:hover{
    background-color: #555;
}
.active{
    background-color: crimson;
}
.Name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.right-content{
    display: flex;
    margin-right: 36px;
    margin-top: 36px;
    padding: 16px;
    flex-direction: column;

}
.left-content{
    display: flex;
    margin-left: 36px;
    margin-top: 36px;
    padding: 16px;
}
img{
    height: 500px;
    width: auto;

}
.upper-content{
    background-color: crimson;
    width: 100vh;
   
}
